#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period"
    %p.name - PXZHU

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p I'm baby fam photo booth enamel pin biodiesel. Slow-carb poutine coloring book actually yuccie poke street art enamel pin drinking vinegar raclette.
      .callout
        %h2 Rocket
        %p I'm baby fam photo booth enamel pin biodiesel. Slow-carb poutine coloring book actually yuccie poke street art enamel pin drinking vinegar raclette.
      .callout
        %h2 Lightning
        %p I'm baby fam photo booth enamel pin biodiesel. Slow-carb poutine coloring book actually yuccie poke street art enamel pin drinking vinegar raclette.

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don;t, I will find you!
    %button= link_to "Click Meee!!!", new_user_registration_path

%footer
  %p &copy; PXZHU