<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Pxzhu</h1>
    <p>Welcome to week 2 of my 12 Web Apps Challenge.</p>
    <p>This Challenge is I built a blog in Rails. You're actually on the demo application right now. Cool stuff, right!</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Github <a href="https://github.com/pxzhu">pxzhu</a> or Email to <a herf="mailto:wearan0nsgat@gmail.com">HERE!</a></p>
  </div>
</div>